<!DOCTYPE html>
<html>
  <head>
    <title>JsWorkshop2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
  </head>

  <body>
    <div class="row bg-dark">
      <div class="container">
        <%= link_to "index", root_path, class: "text-light", style: "font-size: 20px" %>

      </div>
    </div>
    <%= render 'layouts/messages' %>
    <div class="container">

      <%= yield %>
    </div>
  </body>
</html>
